.login{
  max-width: 396px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 70px auto 0;
}
.login__logo{
  background-image: url(../../images/logo.svg);
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-size: cover;
}
.login__title{
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.login__form{
  display: flex;
  flex-direction: column;
}
.login__lable{
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin-bottom: 10px;
  margin-top: 20px;
}
.login__lable:first-child{
  margin-top: 0;
}
.login__input{
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  max-width: 396px;
  height: 46px;
  width: 100%;
  border: none;
  background: #F9F9F9;
  border-radius: 8px;
  padding: 0 15px 0;
}
.login__input:nth-child(4){
  font-weight: 500;
}
.login__input:focus{
  outline: 0;
  outline-offset: 0;
}
.login__input-error{
  color: #EE3465;
}
.login__error{
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  display: none;
}
.login__error_enable{
  display: block;
}
.login__navigation{
  margin-top: 8.5vh;
  display: flex;
  flex-direction: column;
}
.login__btn{
  height: 45px;
  background-color: #2BE080;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.login__link-description{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
  margin-top: 16px;
}
.login__link{
  color: #2BE080;
  text-decoration: none;
  margin-left: 6px;
}
@media screen and (max-width: 1200px){
  .login{
    margin-top: 16vh;
  }
}
@media screen and (max-width: 665px){
  .login{
    margin-top: 7vh;
    align-items: center;
  }
  .login__title{
    margin-top: 8vh;
  }
  .login__form{
    margin-top: 5vh;
    width: 90%;
  }
  .login__lable{
    font-size: 10px;
    line-height: 12px;
  }
  .login__input{
    font-size: 13px;
    line-height: 16px;
    padding-right: 0;
    width: 95%;
  }
  .login__navigation{
    margin: 29vh auto 0;
    width: 100%;
  }
  .login__btn{
    font-size: 12px;
    line-height: 15px;
  }
  .login__link-description{
    font-size: 12px;
    line-height: 15px;
  }
}