.about-me{
  max-width: 1140px;
  margin: 0 auto;
}
.about-me__title{
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin-top: 110px;
  margin-bottom: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;
}
.about-me__content{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 66px;
  justify-content: space-between;
}
.about-me__photo{
  object-fit: cover;
  max-width: 270px;
  max-height: 327px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.about-me__name{
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}
.about-me__profession{
  margin: 18px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  mix-blend-mode: normal;
}
.about-me__text{
  max-width: 600px;
  margin: 26px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  mix-blend-mode: normal;
}
.about-me__navigation{
  margin-top: 99px;
}
.about-me__link{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000000;
  margin: 0 20px 0 0;
}
.about-me__link:last-child{
  margin: 0;
}
.about-me__link:hover{
  opacity: 0.6;
}
@media screen and (max-width: 1190px){
  .about-me{
    width: 90%;
  }
  .about-me__title{
    margin-top: 90px;
  }
  .about-me__text-content{
    max-width: 364px;
  }
  .about-me__photo{
    margin-left: 49px;
  }
  .about-me__name{
    font-size: 40px;
    line-height: 40px;
  }
  .about-me__profession{
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__text{
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__navigation{
    margin-top: 87px;
  }
}
@media screen and (max-width: 692px){
  .about-me__title{
    font-size: 18px;
    line-height: 22px;
    margin-top: 70px;
    padding-bottom: 28px;
  }
  .about-me__content{
    flex-direction: column;
    margin-top: 60px;
  }
  .about-me__photo{
    margin-left: 0;
    max-width: 292px;
    max-height: 352px;
  }
  .about-me__text-content{
    margin-top: 40px;
  }
  .about-me__name{
    font-size: 30px;
    line-height: 36px;
  }
  .about-me__profession{
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__text{
    font-size: 11px;
    line-height: 16px;
    margin-top: 20px;
  }
  .about-me__navigation{
    margin-top: 40px;
  }
}